~$Arbeitszeitnachweis_Aushilfe_KevinRiexinger.xlsx
Arbeitszeitnachweis_Aushilfe_KevinRiexinger.xlsx
~$Arbeitszeitnachweis_Aushilfe_KevinRiexinger_FINAL.xlsx
Arbeitszeitnachweis_Aushilfe_KevinRiexinger_FINAL.xlsx
data.xlsx
data.csv
data_old.csv
googleexport.ics
*txt

tests/

*.ics
!sample.ics

komisch.txt